@import "hamburgers.css";
@import "slick.css";

@font-face {
  font-family: ProximaNova - Black;
  src: url("assets/fonts/ProximaNova-Black.otf");
}

@font-face {
  font-family: ProximaNova - Bold;
  src: url("assets/fonts/ProximaNova-Bold.otf");
}

@font-face {
  font-family: ProximaNova - Bold italic;
  src: url("assets/fonts/ProximaNova-BoldIt.otf");
}

@font-face {
  font-family: ProximaNova - Extra bold;
  src: url("assets/fonts/ProximaNova-Extrabld.otf");
}

@font-face {
  font-family: ProximaNova - Light;
  src: url("assets/fonts/ProximaNova-Light.otf");
}

@font-face {
  font-family: ProximaNova - Light italic;
  src: url("assets/fonts/ProximaNova-LightIt.otf");
}

@font-face {
  font-family: ProximaNova - Regular;
  src: url("assets/fonts/ProximaNova-Regular.otf");
}

@font-face {
  font-family: ProximaNova - Regular italic;
  src: url("assets/fonts/ProximaNova-RegularIt.otf");
}

@font-face {
  font-family: ProximaNova - Semibold;
  src: url("assets/fonts/ProximaNova-Semibold.otf");
}

@font-face {
  font-family: ProximaNova - Semibold italic;
  src: url("assets/fonts/ProximaNova-SemiboldIt.otf");
}

$large-breakpoint: 1210px;
$medium-breakpoint: 991px;
$small-breakpoint: 767px;
$mini-breakpoint: 575px;

$text-font: 'Open Sans', sans-serif;
$second-text-font: FontAwesome, sans-serif;
$text-color: #272727;
$accent-color: #1a1a1a;

*:focus {
  outline: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, ul {
  padding: 0;
  margin: 0;
}

svg {
  overflow: hidden;
  width: 20px;
  height: 12px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $text-font;
  color: $text-color;
  font-size: 12px;
  overflow-x: hidden;
}

.page-container {
  background-color: #f8f3ed;
}

header {
  background-color: #f8f3ed;

  .header-logo-and-menu {
    width: 1000px;
    margin: 0 auto;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .logo {
      flex-grow: 1;

      img {
        width: 75px;
      }
    }

    .menu-main-menu-container {
      ul {
        display: flex;
        justify-content: center;

        li {
          list-style: none;
          margin-left: 35px;

          a {
            text-decoration: none;
            color: #222222;
            font-family: ProximaNova-Regular;
            font-size: 18px;
            line-height: 22px;
            transition: 0.5s;
            display: flex;
            flex-direction: row-reverse;

            svg {
              margin-right: 8px;
              height: 18px;
            }

            &:hover {
              transition: 0.5s;
              color: #22ac39;
            }

            @media only screen and (max-width: $small-breakpoint) {
              padding: 0 15px;
              font-size: 13px;
            }
          }

          &.current-menu-item {
            a {
              font-family: ProximaNova-Bold;
              transition: 0.5s;
            }
          }

          @media only screen and (max-width: $small-breakpoint) {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
          }

          @media only screen and (max-width: $medium-breakpoint) {
            margin-left: 23px;
          }
        }

        @media only screen and (max-width: $small-breakpoint) {
          flex-direction: column;
          padding-top: 10px;
        }
      }

      &.is-active {
        display: flex;
        position: absolute;
        background-color: #FFFFFF;
        top: 95px;
        width: 100%;
        left: 0;
        justify-content: flex-end;
        z-index: 999999999;
        text-transform: uppercase;
      }

      @media only screen and (max-width: $small-breakpoint) {
        display: none;
      }
    }

    .hamburger {
      display: none;

      @media only screen and (max-width: $small-breakpoint) {
        display: block;
        position: absolute;
        right: -5px;
        top: 20px;
      }
    }

    @media only screen and (max-width: $large-breakpoint) {
      width: 100%;
      padding: 0 15px;
    }
  }
}

.slide {
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #ede5da;

  .slide-casino {
    position: relative;
    background: #ffffff url(assets/images/slotbird.png) no-repeat bottom right 60px;

    .slider-container-casino {
      width: 1000px;
      display: flex;

      .slide-casino-content {
        width: 100%;
        padding: 30px 60px 28px 90px;

        .slide-casino-logo-list {
          display: flex;

          .slide-casino-logo {
            width: 198px;
            height: 75px;
            background-color: #5d4e48;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;

            a {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                max-width: 140px;
                max-height: 73px;
              }
            }
          }

          .slide-casino-list {
            margin-left: 30px;
            width: 460px;

            .slide-casino-list-svg {
              display: flex;
              padding-bottom: 6px;

              .svg-list {
                svg {
                  width: 16px;
                  height: 20px;
                  margin-right: 6px;
                  flex-shrink: 0;

                  path {
                    fill: #27b83e;
                  }
                }
              }

              ul {
                font-family: ProximaNova-Regular;
                font-size: 18px;
                line-height: 22px;
                color: #242424;

                li {
                  list-style: none;
                }

                @media only screen and (max-width: $mini-breakpoint) {
                  font-size: 16px;
                }
              }
            }

            @media only screen and (max-width: $medium-breakpoint) {
              margin-left: unset;
              margin-top: 10px;
              width: unset;
              display: flex;
              justify-content: center;
              flex-direction: column;
            }
          }

          @media only screen and (max-width: $medium-breakpoint) {
            flex-direction: column;
            align-items: center;
          }
        }

        .slide-casino-offer-bonus {
          margin-top: 40px;
          width: 640px;

          span {
            font-family: ProximaNova-Regular;
            font-size: 12px;
            line-height: 22px;
            color: #595959;
          }

          p {
            font-family: ProximaNova-Bold;
            font-size: 27px;
            line-height: 24px;
            color: #242424;
            margin-top: 10px;

            @media only screen and (max-width: $mini-breakpoint) {
              text-align: center;
              font-size: 20px;
            }
          }

          @media only screen and (max-width: $medium-breakpoint) {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 20px;
            width: unset;
            text-align: center;
          }
        }

        .slide-casino-button {
          margin-top: 23px;
          width: 300px;
          height: 53px;
          background-color: #22ac39;
          border-radius: 5px;
          border-bottom: #219f35 solid 4px;

          a {
            text-decoration: none;
            font-family: ProximaNova-Bold;
            font-size: 20px;
            color: #ffffff;
            line-height: 22px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s;

            &:hover {
              color: #1a1a1a;
              transition: 0.5s;
            }
          }

          @media only screen and (max-width: $medium-breakpoint) {
            width: 100%;
          }
        }

        .slide-casino-terms {
          margin-top: 18px;
          width: 530px;

          a {
            font-family: ProximaNova-Regular;
            text-decoration: none;
            font-size: 12px;
            line-height: 20px;
            color: #7a7a7a;

            &:hover {
              text-decoration: underline;
            }

            @media only screen and (max-width: $medium-breakpoint) {
              display: flex;
              text-align: center;
            }
          }

          @media only screen and (max-width: $small-breakpoint) {
            width: 100%;
          }

          @media only screen and (max-width: $medium-breakpoint) {
            width: auto;
            display: flex;
            justify-content: center;
          }
        }

        @media only screen and (max-width: $small-breakpoint) {
          padding: 15px;
        }

        @media only screen and (max-width: $medium-breakpoint) {
          background-image: none;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      @media only screen and (max-width: $large-breakpoint) {
        padding: 0 15px;
        width: 100%;
      }

      @media only screen and (max-width: $medium-breakpoint) {
        width: 100%;
      }
    }

    @media only screen and (max-width: $large-breakpoint) {
      width: 100%;
      background: #fff;
    }
  }

  .next {
      position: absolute;
      right: 30px;
      top: 188px;
      cursor: pointer;
      height: 20px;
      fill: #5d4e48;

      &:hover {
        opacity: 0.7;
      }

    @media only screen and (max-width: $medium-breakpoint) {
      right: 20px;
      top: 200px;
    }

    @media only screen and (max-width: $mini-breakpoint) {
      display: none;
    }
  }

  .prev {
    position: absolute;
    left: 30px;
    top: 188px;
    cursor: pointer;
    z-index: 1;
    height: 20px;
    fill: #5d4e48;

    &:hover {
      opacity: 0.7;
    }

    @media only screen and (max-width: $medium-breakpoint) {
      left: 20px;
      top: 200px;
    }

    @media only screen and (max-width: $mini-breakpoint) {
      display: none;
    }
  }
}

.page-content {
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0 40px 0;

  .featured-banner {
    display: flex;
    border: 1px solid #e4dcd3;
    border-radius: 3px;
    border-style: dashed;

    .featured {
      background-color: #ede5da;
      width: 50px;

      p {
        font-family: ProximaNova-Bold;
        font-size: 12px;
        line-height: 22px;
        color: #5d4e48;
        transform: rotate(-90deg);
        margin-top: 55px;
      }
    }

    #featured {
      background-color: #5d4e48;
      width: 50px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;

      p {
        font-family: ProximaNova-Bold;
        font-size: 12px;
        line-height: 22px;
        color: #f8f3ed;
        transform: rotate(-90deg);
        margin-top: 55px;
      }
    }

    .banner {
      background: #ffffff;
      transition: 0.5s;

      img {
        padding: 15px 134px 15px 86px;

        @media only screen and (max-width: $large-breakpoint) {
          padding: 15px 100px 15px 50px;
        }
      }

      @media only screen and (max-width: $large-breakpoint) {
        width: 100%;
      }

      &:hover {
        background-color: #f6eee5;
        transition: 0.5s;
      }
    }

    @media only screen and (max-width: $medium-breakpoint) {
      display: none;
    }
  }

  .first-text {
    margin: 50px 0 35px 0;

    h1 {
      font-family: ProximaNova-Bold;
      font-size: 40px;
      line-height: 22px;
      color: #242424;

      @media only screen and (max-width: $mini-breakpoint) {
        font-size: 25px;
      }
    }

    .date {
      margin-top: 15px;

      p {
        font-family: ProximaNova-Regular;
        font-size: 18px;
        line-height: 22px;
        color: #222222;

        @media only screen and (max-width: $mini-breakpoint) {
          font-size: 16px;
        }

        span {
          font-family: ProximaNova-Bold;
          font-size: 18px;
          line-height: 22px;
          color: #222222;

          @media only screen and (max-width: $mini-breakpoint) {
            font-size: 16px;
          }
        }
      }
    }
  }

  .first-paragraph {
    h2 {
      font-family: ProximaNova-Bold;
      padding: 45px 0 10px 0;
      font-size: 27px;
      line-height: 22px;
      color: #242424;
    }

    h3 {
      font-family: ProximaNova-Bold;
      font-size: 20px;
      line-height: 22px;
      color: #242424;
      margin: 10px 0;
    }

    p {
      font-family: ProximaNova-Regular;
      font-size: 16px;
      line-height: 26px;
      color: #595959;
    }

    ul {
      li {
        font-family: ProximaNova-Regular;
        font-size: 16px;
        line-height: 22px;
        color: #595959;
        list-style: none;
        margin: -3px 0;

        &:before {
          content: "\f00c";
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          display: inline-block;
          width: 20px;
          height: 10px;
          color: #27b83e;
          margin-right: 12px;
        }
      }
    }

    blockquote {
      border-left: 3px solid #27b83e;
      margin: 0 auto;
      padding-left: 15px;

      p {
        font-family: ProximaNova - Bold Italic;
        font-size: 16px;
        line-height: 26px;
        color: #595959;
      }
    }
  }

  .casino-container {
    .oj-oj {
      .casino-box {
        border: 1px solid #e4dcd3;
        border-radius: 5px;
        display: flex;
        background-color: #ffffff;
        margin-bottom: 10px;
        margin-top: 25px;

        .casino-logo {
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
          width: 180px;
          background-color: #5d4e48;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 180px;
            height: 100%;

            img {
              max-width: 140px;
            }
          }

          @media only screen and (max-width: $large-breakpoint) {
            width: 100%;
            border-bottom-left-radius: unset;
            border-top-right-radius: 5px;
            height: 200px;
          }

          @media only screen and (max-width: $medium-breakpoint) {
            height: 200px;
          }

          @media only screen and (max-width: $mini-breakpoint) {
            height: 150px;
          }
        }

        .casino-content {
          padding: 20px 20px 23px 26px;
          border-right: 1px solid #e4dcd3;
          flex-grow: 1;

          .name-heart-choice {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .casino-name {
              margin-right: 13px;

              p {
                font-family: ProximaNova-Bold;
                font-size: 20px;
                line-height: 22px;
                color: #242424;
              }

              @media only screen and (max-width: $mini-breakpoint) {
                margin-right: unset;
                margin-bottom: 10px;
              }
            }

            .casino-heart {
              background-color: #f8f3ed;
              border-radius: 5px;
              padding: 6px;
              display: flex;
              justify-items: center;
              align-items: center;
              margin-right: 8px;
              cursor: pointer;
              transition: 0.5s;

              svg {
                fill: #f25533;
                width: 17px;
                height: 15px;
                margin-right: 4px;
              }

              &:hover {
                transition: 0.5s;
                background-color: #22ac39;
              }

              @media only screen and (max-width: $mini-breakpoint) {
                margin-right: unset;
                margin-bottom: 10px;
              }
            }

            .casino-choice {
              border-radius: 5px;
              background-color: #f25533;

              p {
                font-family: ProximaNova-Bold;
                font-size: 12px;
                line-height: 22px;
                color: #ffffff;
                padding: 2px 8px;
              }
            }

            @media only screen and (max-width: $mini-breakpoint) {
              flex-direction: column;
            }
          }

          .players-appreciate {
            margin-bottom: 10px;

            p {
              font-family: ProximaNova-Regular;
              font-size: 12px;
              line-height: 22px;
              color: #595959;
            }
          }

          .casino-list-svg {
            display: flex;
            padding-bottom: 6px;

            .casino-svg-list {
              svg {
                fill: #27b83e;
                width: 16px;
                height: 20px;
                margin-right: 6px;
                flex-shrink: 0;
              }
            }

            ul {
              font-family: ProximaNova-Regular;
              font-size: 18px;
              line-height: 22px;
              color: #242424;
              text-align: left;

              li {
                list-style: none;
              }

              @media only screen and (max-width: $mini-breakpoint) {
                font-size: 12px;
              }
            }
          }

          .new-customer-offer {
            margin-top: 12px;

            p {
              font-family: ProximaNova-Regular;
              font-size: 12px;
              line-height: 22px;
              color: #595959;
            }
          }

          .casino-bonus {
            display: flex;

            a {
              text-decoration: none;
              background-color: #f8f3ed;
              border-radius: 5px;
              border: 1px solid #e4dcd3;
              margin-top: 8px;
              font-family: ProximaNova-Bold;
              font-size: 27px;
              line-height: 24px;
              color: #242424;
              padding: 15px;
              transition: 0.5s;

              &:hover {
                color: #22ac39;
                transition: 0.5s;
              }

              @media only screen and (max-width: $mini-breakpoint) {
                font-size: 22px;
                line-height: 30px;
                text-align: center;
              }
            }
          }

          @media only screen and (max-width: $large-breakpoint) {
            padding: 20px;
            border: unset;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
          }

          @media only screen and (max-width: $mini-breakpoint) {
            text-align: unset;
          }
        }

        .casino-rating-button {
          padding: 51px 23px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 192px;

          .rating-and-number-container {
            display: flex;
            margin-bottom: 12px;
            justify-content: center;
            align-items: center;

            .stars {
              display: flex;
              fill: #e3e3e3;

              .star {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                width: 16px;
                height: 16px;

                &.full {
                  fill: #fbbb40;
                }
              }
            }

            .stars-container {
              display: flex;
            }

            .number {
              margin-left: 7px;

              p {
                font-family: ProximaNova-Bold;
                font-size: 16px;
                line-height: 22px;
                color: #242424;

                span {
                  font-family: ProximaNova-Regular;
                  font-size: 16px;
                  line-height: 22px;
                  color: #242424;
                }
              }
            }
          }

          .reputation {
            p {
              font-family: ProximaNova-Regular;
              font-size: 12px;
              line-height: 22px;
              color: #595959;

              span {
                font-family: ProximaNova-Bold;
                font-size: 12px;
                line-height: 22px;
              }

              .rep-perfect {
                color: #27b83e;
              }

              .rep-verygood {
                color: #27b83e;
              }

              .rep-good {
                color: #fbbb40;
              }

              .rep-questionable {
                color: #fbbb40;
              }

              .rep-poor {
                color: #f25533;
              }
            }
          }

          .casino-button {
            margin-top: 25px;
            width: 146px;
            height: 83px;
            background-color: #22ac39;
            border-radius: 5px;
            border-bottom: #219f35 solid 4px;

            a {
              text-decoration: none;
              font-family: ProximaNova-Bold;
              font-size: 20px;
              color: #ffffff;
              line-height: 22px;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 0.5s;

              &:hover {
                color: #1a1a1a;
                transition: 0.5s;
              }
            }
          }

          .casino-terms {
            margin-top: 10px;

            a {
              text-decoration: none;
              font-family: ProximaNova-Regular;
              font-size: 12px;
              line-height: 22px;
              color: #595959;

              &:hover {
                text-decoration: underline;
              }

              @media only screen and (max-width: $large-breakpoint) {
                display: flex;
                text-align: center;
              }
            }
          }

          @media only screen and (max-width: $medium-breakpoint) {
            padding: 15px;
          }
        }

        @media only screen and (max-width: $large-breakpoint) {
          flex-direction: column;
          align-items: center;
        }
      }

      .casino-terms-info {
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #e4dcd3;
        padding: 10px 22px;

        a {
          text-decoration: none;
          font-family: ProximaNova-Regular;
          font-size: 12px;
          line-height: 22px;
          color: #7a7a7a;

          &:hover {
            text-decoration: underline;
          }

          @media only screen and (max-width: $large-breakpoint) {
            display: flex;
            text-align: center;
          }
        }
      }

      &:last-child {
        margin-bottom: 30px;
      }
    }
  }

  .paragraph-text {
    width: 1000px;
    margin: 0 auto;

    h2 {
      font-family: ProximaNova-Bold;
      padding: 45px 0 10px 0;
      font-size: 27px;
      line-height: 22px;
      color: #242424;
    }

    h3 {
      font-family: ProximaNova-Bold;
      font-size: 20px;
      line-height: 22px;
      color: #242424;
      margin: 10px 0;
    }

    h4 {
      font-family: ProximaNova-Bold;
      font-size: 18px;
      line-height: 22px;
      color: #242424;
      margin: 10px 0;
    }

    h5 {
      font-family: ProximaNova-Bold;
      font-size: 16px;
      line-height: 22px;
      color: #242424;
      margin: 10px 0;
    }

    p {
      font-family: ProximaNova-Regular;
      font-size: 16px;
      line-height: 26px;
      color: #595959;
    }

    ul {
      li {
        font-family: ProximaNova-Regular;
        font-size: 16px;
        line-height: 22px;
        color: #595959;
        list-style: none;
        margin: -3px 0;

        &:before {
          content: "\f058";
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          display: inline-block;
          width: 20px;
          height: 10px;
          color: #27b83e;
          margin-right: 12px;
        }
      }
    }

    ol {
      padding-left: 0;
      margin: 0;

      li {
        font-family: ProximaNova-Regular;
        font-size: 16px;
        line-height: 22px;
        color: #595959;
        margin: -3px 0;
        list-style: none;
        counter-increment: item;

        &:before {
          content: counter(item)". ";
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          display: inline-block;
          width: 20px;
          height: 10px;
          color: #27b83e;
          margin-right: 0;
        }
      }
    }

    blockquote {
      border-left: 3px solid #27b83e;
      margin: 0 auto;
      padding-left: 15px;

      p {
        font-family: ProximaNova - Bold Italic;
        font-size: 16px;
        line-height: 26px;
        color: #595959;
      }
    }

    @media only screen and (max-width: $large-breakpoint) {
      width: 100%;
      padding: 0 15px;
    }
  }

  &.page-bonuses {
    padding: 20px 0 0 0;

    @media only screen and (max-width: $large-breakpoint) {
      padding: 20px 15px 20px 15px;
      width: 100%;
    }
  }

  &.page-x {
    padding: 0px 0 80px 0;
  }

  @media only screen and (max-width: $large-breakpoint) {
    padding: 20px 15px 40px 15px;
    width: 100%;
  }

  @media only screen and (max-width: $mini-breakpoint) {
    padding: 20px 15px 20px 15px;
    width: 100%;
  }
}

.paragraph-container {
  background-color: #ede5da;

  .paragraph-text {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 30px;

    h2 {
      font-family: ProximaNova-Bold;
      padding: 45px 0 10px 0;
      font-size: 27px;
      line-height: 22px;
      color: #242424;
    }

    h3 {
      font-family: ProximaNova-Bold;
      font-size: 20px;
      line-height: 22px;
      color: #242424;
      margin: 10px 0;
    }

    h4 {
      font-family: ProximaNova-Bold;
      font-size: 18px;
      line-height: 22px;
      color: #242424;
      margin: 10px 0;
    }

    h5 {
      font-family: ProximaNova-Bold;
      font-size: 16px;
      line-height: 22px;
      color: #242424;
      margin: 10px 0;
    }

    p {
      font-family: ProximaNova-Regular;
      font-size: 16px;
      line-height: 26px;
      color: #595959;
    }

    ul {
      li {
        font-family: ProximaNova-Regular;
        font-size: 16px;
        line-height: 22px;
        color: #595959;
        list-style: none;
        margin: -3px 0;

        &:before {
          content: "\f058";
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          display: inline-block;
          width: 20px;
          height: 10px;
          color: #27b83e;
          margin-right: 12px;
        }
      }
    }

    ol {
      padding-left: 0;
      margin: 0;

      li {
        font-family: ProximaNova-Regular;
        font-size: 16px;
        line-height: 22px;
        color: #595959;
        margin: -3px 0;
        list-style: none;
        counter-increment: item;

        &:before {
          content: counter(item)". ";
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          display: inline-block;
          width: 20px;
          height: 10px;
          color: #27b83e;
          margin-right: 0;
        }
      }
    }

    blockquote {
      border-left: 3px solid #27b83e;
      margin: 0 auto;
      padding-left: 15px;

      p {
        font-family: ProximaNova - Bold Italic;
        font-size: 16px;
        line-height: 26px;
        color: #595959;
      }
    }

    @media only screen and (max-width: $large-breakpoint) {
      width: 100%;
      padding: 0 15px;
    }
  }

  &.page-casino {
    background-color: #f8f3ed;
    margin-top: 70px;

    .paragraph-text {
      h2 {
        padding: 0 0 10px 0;
      }
    }

    @media only screen and (max-width: $large-breakpoint) {
      margin-top: 10px;
    }
  }
}

.info-text-background {
  background-color: #ede5da;

  .page-info-text {
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
    font-family: ProximaNova-Bold;
    font-size: 22px;
    color: #242424;

    @media only screen and (max-width: $large-breakpoint) {
      width: 100%;
      padding: 30px 15px;
    }

    @media only screen and (max-width: $mini-breakpoint) {
      font-size: 18px;
    }
  }
}

.page-info {
  .page-info-paragraph {
    background-color: #ffffff;
    border: 1px solid #e4dcd3;
    border-radius: 5px;
    padding: 25px;
    margin-top: 20px;

    h2 {
      font-family: ProximaNova-Bold;
      padding: 45px 0 10px 0;
      font-size: 27px;
      line-height: 22px;
      color: #242424;
    }

    h3 {
      font-family: ProximaNova-Bold;
      font-size: 20px;
      line-height: 22px;
      color: #242424;
      margin: 10px 0;
    }

    h4 {
      font-family: ProximaNova-Bold;
      font-size: 18px;
      line-height: 22px;
      color: #242424;
      margin: 10px 0;
    }

    h5 {
      font-family: ProximaNova-Bold;
      font-size: 16px;
      line-height: 22px;
      color: #242424;
      margin: 10px 0;
    }

    p {
      font-family: ProximaNova-Regular;
      font-size: 16px;
      line-height: 26px;
      color: #595959;
    }

    ul {
      li {
        font-family: ProximaNova-Regular;
        font-size: 16px;
        line-height: 22px;
        color: #595959;
        list-style: none;
        margin: -3px 0;

        &:before {
          content: "\f058";
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          display: inline-block;
          width: 20px;
          height: 10px;
          color: #27b83e;
          margin-right: 12px;
        }
      }
    }

    ol {
      padding-left: 0;
      margin: 0;

      li {
        font-family: ProximaNova-Regular;
        font-size: 16px;
        line-height: 22px;
        color: #595959;
        margin: -3px 0;
        list-style: none;
        counter-increment: item;

        &:before {
          content: counter(item)". ";
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          display: inline-block;
          width: 20px;
          height: 10px;
          color: #27b83e;
          margin-right: 0;
        }
      }
    }

    span {
      font-family: ProximaNova - Regular italic;
      font-size: 16px;
      line-height: 22px;
      color: #a0a0a0;
    }

    blockquote {
      border-left: 3px solid #27b83e;
      margin: 0 auto;
      padding-left: 15px;

      p {
        font-family: ProximaNova - Bold Italic;
        font-size: 16px;
        line-height: 26px;
        color: #595959;
      }
    }
  }

  .featured-banner {
    margin-top: 20px;
  }
}

.banner-background {
  background-color: #ede5da;
  height: 160px;
  justify-content: center;
  display: flex;
  align-items: center;

  .featured-banner {
    display: flex;
    border: 1px solid #e4dcd3;
    border-radius: 3px;
    border-style: dashed;
    width: 1000px;

    .featured {
      background-color: #ede5da;
      width: 50px;

      p {
        font-family: ProximaNova-Bold;
        font-size: 12px;
        line-height: 22px;
        color: #5d4e48;
        transform: rotate(-90deg);
        margin-top: 55px;
      }
    }

    #featured {
      background-color: #5d4e48;
      width: 50px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;

      p {
        font-family: ProximaNova-Bold;
        font-size: 12px;
        line-height: 22px;
        color: #f8f3ed;
        transform: rotate(-90deg);
        margin-top: 55px;
      }
    }

    .banner {
      background: #ffffff;
      transition: 0.5s;

      img {
        padding: 15px 134px 15px 86px;

        @media only screen and (max-width: $large-breakpoint) {
          padding: 15px 100px 15px 50px;
        }
      }

      @media only screen and (max-width: $large-breakpoint) {
        width: 100%;
      }

      &:hover {
        background-color: #f6eee5;
        transition: 0.5s;
      }
    }
  }

  @media only screen and (max-width: $medium-breakpoint) {
    display: none;
  }

  @media only screen and (max-width: $large-breakpoint) {
    padding: 0 15px;
    width: 100%;
  }
}

footer {
  .footer-menu-background {
    background-color: #ede5da;

    .footer-menus {
      width: 1000px;
      margin: 0 auto;
      padding: 40px 0 16px 0;

      .footer-menu {
        display: flex;
        padding-bottom: 35px;

        .menu-footer-menu-container {
          .menu {
            display: flex;
            list-style: none;

            li {
              margin-right: 20px;

              a {
                text-decoration: none;
                color: #242424;
                list-style: none;
                font-family: ProximaNova-Regular;
                font-size: 18px;
                line-height: 22px;
                transition: 0.5s;

                &:hover {
                  color: #f25533;
                  transition: 0.5s;
                }

                @media only screen and (max-width: $mini-breakpoint) {
                  font-size: 16px;
                }
              }

              &.current-menu-item {
                a {
                  color: #242424;
                  font-family: ProximaNova-Extra Bold;
                }
              }

              @media only screen and (max-width: $mini-breakpoint) {
                margin: 0 0 20px 0;
              }
            }

            @media only screen and (max-width: $mini-breakpoint) {
              flex-direction: column;
              text-align: center;
            }
          }
        }

        @media only screen and (max-width: $mini-breakpoint) {
          justify-content: center;
          padding-bottom: unset;
          margin-bottom: 20px;
        }
      }

      .footer-icons {
        display: flex;
        padding-bottom: 45px;

        .footer-icon {
          a {
            svg {
              height: 40px;
              max-height: 40px;
              max-width: 240px;
              fill: #242424;
              margin-right: 20px;
              width: unset;

              &:hover {
                fill: #f25533;

                svg {
                  fill: #f25533;
                }

                path {
                  fill: #f25533;
                }

                g {
                  fill: #f25533;
                }
              }

              @media only screen and (max-width: $small-breakpoint) {
                height: 30px;
                margin: 0 0 20px 0;
              }
            }
          }

          @media only screen and (max-width: $small-breakpoint) {
            margin-right: 20px;
            margin-bottom: unset;
          }

          @media only screen and (max-width: $mini-breakpoint) {
            margin-right: unset;
            margin-bottom: unset;
          }
        }

        @media only screen and (max-width: $large-breakpoint) {
          padding-bottom: 10px;
        }

        @media only screen and (max-width: $mini-breakpoint) {
          flex-direction: column;
          text-align: center;
          padding-bottom: 10px;
        }
      }

      .footer-text {
        padding-bottom: 15px;

        p {
          font-family: ProximaNova-Regular;
          font-size: 16px;
          line-height: 26px;
          color: #242424;

          @media only screen and (max-width: $mini-breakpoint) {
            font-size: 13px;
          }
        }

        @media only screen and (max-width: $mini-breakpoint) {
          padding-bottom: 5px;
          text-align: center;
        }
      }

      .copyright {
        p {
          font-family: ProximaNova-Regular;
          font-size: 16px;
          line-height: 26px;
          color: #242424;

          @media only screen and (max-width: $mini-breakpoint) {
            font-size: 12px;
            text-align: center;
          }
        }
      }

      @media only screen and (max-width: $large-breakpoint) {
        margin: 0 auto;
        padding: 40px 15px 20px 15px;
        width: 100%;
      }
    }
  }
}









